menuconfig SECURITY_SARA
	bool "S.A.R.A."
	depends on SECURITY
	select SECURITYFS
	default n
	help
	  This selects S.A.R.A. LSM which aims to collect heterogeneous
	  security measures providing a common interface to manage them.
	  This LSM will always be stacked with the selected primary LSM and
	  other stacked LSMs.
	  Further information can be found in
	  Documentation/admin-guide/LSM/SARA.rst.

	  If unsure, answer N.

config SECURITY_SARA_DEFAULT_DISABLED
	bool "S.A.R.A. will be disabled at boot."
	depends on SECURITY_SARA
	default n
	help
	  If you say Y here, S.A.R.A. will not be enabled at startup. You can
	  override this option at boot time via "sara.enabled=[1|0]" kernel
	  parameter or via user-space utilities.
	  This option is useful for distro kernels.

	  If unsure, answer N.

config SECURITY_SARA_NO_RUNTIME_ENABLE
	bool "S.A.R.A. can be turn on only at boot time."
	depends on SECURITY_SARA_DEFAULT_DISABLED
	default y
	help
	  By enabling this option it won't be possible to turn on S.A.R.A.
	  at runtime via user-space utilities. However it can still be
	  turned on at boot time via the "sara.enabled=1" kernel parameter.
	  This option is functionally equivalent to "sara.enabled=0" kernel
	  parameter. This option is useful for distro kernels.

	  If unsure, answer Y.

config SECURITY_SARA_WXPROT
	bool "WX Protection: W^X and W!->X protections"
	depends on SECURITY_SARA
	default y
	help
	  WX Protection aims to improve user-space programs security by applying:
	    - W^X memory restriction
	    - W!->X (once writable never executable) mprotect restriction
	    - Executable MMAP prevention
	  See Documentation/admin-guide/LSM/SARA.rst. for further information.

	  If unsure, answer Y.

choice
	prompt "Default action for W^X and W!->X protections"
	depends on SECURITY_SARA
	depends on SECURITY_SARA_WXPROT
	default SECURITY_SARA_WXPROT_DEFAULT_FLAGS_ALL_COMPLAIN_VERBOSE

        help
	  Choose the default behaviour of WX Protection when no config
	  rule matches or no rule is loaded.
	  For further information on available flags and their meaning
	  see Documentation/admin-guide/LSM/SARA.rst.

	config SECURITY_SARA_WXPROT_DEFAULT_FLAGS_ALL_COMPLAIN_VERBOSE
		bool "Protections enabled but not enforced."
		help
		  All features enabled except "Executable MMAP prevention",
		  verbose reporting, but no actual enforce: it just complains.
		  Its numeric value is 0x3f, for more information see
		  Documentation/admin-guide/LSM/SARA.rst.

        config SECURITY_SARA_WXPROT_DEFAULT_FLAGS_ALL_ENFORCE_VERBOSE
		bool "Full protection, verbose."
		help
		  All features enabled except "Executable MMAP prevention".
		  The enabled features will be enforced with verbose reporting.
		  Its numeric value is 0x2f, for more information see
		  Documentation/admin-guide/LSM/SARA.rst.

        config SECURITY_SARA_WXPROT_DEFAULT_FLAGS_ALL_ENFORCE
		bool "Full protection, quiet."
		help
		  All features enabled except "Executable MMAP prevention".
		  The enabled features will be enforced quietly.
		  Its numeric value is 0xf, for more information see
		  Documentation/admin-guide/LSM/SARA.rst.

	config SECURITY_SARA_WXPROT_DEFAULT_FLAGS_NONE
		bool "No protection at all."
		help
		  All features disabled.
		  Its numeric value is 0, for more information see
		  Documentation/admin-guide/LSM/SARA.rst.
endchoice

config SECURITY_SARA_WXPROT_EMUTRAMP
	bool "Enable emulation for some types of trampolines"
	depends on SECURITY_SARA_WXPROT
	depends on ARCH_HAS_LSM_PAGEFAULT
	depends on X86
	default y
	help
	  Some programs and libraries need to execute special small code
	  snippets from non-executable memory pages.
	  Most notable examples are the GCC and libffi trampolines.
	  This features make it possible to execute those trampolines even
	  if they reside in non-executable memory pages.
	  This features need to be enabled on a per-executable basis
	  via user-space utilities.
	  See Documentation/admin-guide/LSM/SARA.rst. for further information.

	  If unsure, answer y.

config SECURITY_SARA_WXPROT_XATTRS_ENABLED
	bool "xattrs support enabled by default."
	depends on SECURITY_SARA_WXPROT
	default n
	help
	  If you say Y here it will be possible to override WX protection
	  configuration via extended attributes in the security namespace.
	  Even when S.A.R.A.'s configuration has been locked.

	  If unsure, answer N.

config CONFIG_SECURITY_SARA_WXPROT_XATTRS_USER
	bool "'user' namespace xattrs support enabled by default."
	depends on SECURITY_SARA_WXPROT_XATTRS_ENABLED
	default n
	help
	  If you say Y here it will be possible to override WX protection
	  configuration via extended attributes in the user namespace.
	  Even when S.A.R.A.'s configuration has been locked.

	  If unsure, answer N.

config SECURITY_SARA_WXPROT_DISABLED
	bool "WX protection will be disabled at boot."
	depends on SECURITY_SARA_WXPROT
	default n
	help
	  If you say Y here WX protection won't be enabled at startup. You can
	  override this option via user-space utilities or at boot time via
	  "sara.wxprot_enabled=[0|1]" kernel parameter.

	  If unsure, answer N.

config SECURITY_SARA_WXPROT_DEFAULT_FLAGS
	hex
	default "0x3f" if SECURITY_SARA_WXPROT_DEFAULT_FLAGS_ALL_COMPLAIN_VERBOSE
	default "0x2f" if SECURITY_SARA_WXPROT_DEFAULT_FLAGS_ALL_ENFORCE_VERBOSE
	default "0xf" if SECURITY_SARA_WXPROT_DEFAULT_FLAGS_ALL_ENFORCE
	default "0" if SECURITY_SARA_WXPROT_DEFAULT_FLAGS_NONE
